$titles: #1f3e72;
$border: #e9e9fe;
$accent: #3252d0;
$secondary: #eef3ff;
$yellow-bg: #fff8df;
$accent-bg: #e2e9ff;
$icons-base: #3353d1;
$icons-yellow: #ffd012;
$btn: #f1f5ff;
$btn-active: #2949c7;
$text: #6d7b93;
$white: #fff;
$black: #000;